:root{
  --color-1: rgb(245,232,213) ;
  --color-2: rgb(92,51,45) ;
  --color-3: rgb(237,85,108) ;
  --color-4: rgb(136,99,83) ;
  --color-5: rgb(246,229,222) ;
}


*{
  padding:0;
  margin:0;
  box-sizing:0;
}

@font-face{
  font-family: titleFont;
  src: url(fonts/SellyCalligraphy.ttf);
}

@font-face{
  font-family: subFont;
  src:url(fonts/Glamour.ttf)
}

body{
  background-color: var(--color-2);
}

#side-nav{
  width: 25%;
  height:100%;
  position:fixed;
  top:0;
  background-color: var(--color-1);
  margin-left:-25%;
  transition-duration:.5s;
  display:flex;
  flex-direction:column;
  z-index:3;
}

.fa-circle-xmark{
  font-size:2rem;
  align-self: flex-end;
}

main{
  transition-duration: .5s;
  
}

#header{
  position:fixed;
  top:0;
  background-color:var(--color-3);
  height: 10%;
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: flex-end;
  overflow:hidden;
  padding-top:30px;
  border-radius:0 0 20px 20px;
  
}

#choco-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

.fa-bars{
  margin:10px;
  font-size:2rem;
  display:none;
}

#header-img{
  width: 100px;
  object-fit:cover;
  

}

h1{
  text-wrap: nowrap;
  font-family: titleFont;
  font-size: 2.3em;
  color: maroon;
  text-shadow: .5px .5px 1px white;
  
 
 
}

#nav-list{
  display:flex;
  gap:40px;
  margin-inline:30px;
  margin-bottom:10px;
  
  
}
li{
  list-style: none;
  text-wrap: nowrap;
  font-family:subFont;
  font-size: 1.2rem;
  
}

a{
  text-decoration: none;
  color:var(--color-2);
  font-weight: bold;
}

@media screen and (max-width:820px){
  .fa-bars{
    display:inline-block;
    
  }

  #header{
    align-items:center;
    gap:0;
    padding-top:2px;
    overflow:visible;
  }

  #header-img{
    width:30%;
    order:1;
    margin-top:5px;
    
  }

  h1{
    width:fit-content;
    text-wrap: wrap;
    line-height:1.1;
    text-align: center;
    margin-top:7px;
  }
  
  #nav-list{
    display:none;
  }

 
 
}

@media screen and (min-width:821px){
  #side-nav{
    margin-left:-25% !important;
  }

  main{
    margin-left:0 !important;
  }

  .fa-bars{
    display:none!important;
  }
}


#straw-video{
  margin-top:10vh;
}
#straw-gif{
  width:100%;
  border-radius: 20px;
}


#product-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

#product-container img{
  width:30%;
  border-radius:25px;
}